<!DOCTYPE html>
<html>
<head>
</head>

<body>
<h1>Create new post</h1>
<form action ="/newpost" method="POST">
  <textarea class="form-control" rows="6" placeholder="new great post here" name="text"></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>


</html>